* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.header,
.footer {
  background-color: #1f2937;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.right-links{
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-links a { 
  text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* COLOR NOT SHOWING, FIGURE OUT LATER */
.signup-button {
    color:#3882f6
}

.call-to-action-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    background-color: #e5e7eb
}

.banner {
    background-color: rgb(0, 145, 255)
}

.banner-text {
    color: white;
}

/* EXAMINE LATER */
.banner-button {
    color: white;
}

.footer-text{
    color: rgba(255, 255, 255, 0.712);
}