* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.header,
.footer {
  background-color: #1f2937;
}

.header{
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin: 15px 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.right-links{
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-links a { 
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.hero-main-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 50px;
}

.text-content {
    max-width: 500px;
}

.hero-main-text .hero-header{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 15px;
}

.hero-main-text .hero-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-main-text button {
    background-color:#3882f6;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 30px;
    font-size: 18px;
    cursor: pointer;
}

.hero-main-text img {
    width: 1000px;
    height: 210px;
}

.call-to-action-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    background-color: #e5e7eb
}

.banner {
    background-color: rgb(0, 145, 255)
}

.banner-text {
    color: white;
}

/* EXAMINE LATER */
.banner-button {
    color: white;
}

.footer-text{
    color: rgba(255, 255, 255, 0.712);
}